<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
    <ion-button color="primary"  (click)="gohome()"><ion-icon name="home"></ion-icon>Inicio</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-item>
<h1>HidroTec</h1>
  </ion-item>





<ion-text color="dark" style="text-align:justify">
  <h1> La empresa fue constituida a incios del año 2018 en la ciudad de Aguascalientes. Dedicándose al comercio de Computo, Electrónica y Tecnología.</h1>
  <h1>Misión Ofrecemos a nuestros clientes una mejor relación costo / beneficio, procurando incrementar su competitividad, innovación y mejora continua, distinguiéndonos por ofrecer un servicio de calidad, sustentabilidad en el negocio, oportunidades para el desarrollo profesional, personal de sus colaboradores y una contribución positiva a la sociedad, siempre basados en la razón y pasión por nuestro trabajo.</h1>
  <h1> Visión Ser una empresa plenamente identificada en México como seria, profesional y responsable, que brinde el servicio de soluciones en tecnologías de información, distinguiéndose por su honestidad, profesionalismo, calidad, sustentabilidad en el negocio y respeto por su tiempo.</h1>

</ion-text>


<ion-chip (click)="ventas()">
  <ion-icon name="call" color="primary"></ion-icon>
  <h1>   Ventas     4491800626</h1>
</ion-chip>

<ion-chip (click)="dudas()" >
  <ion-icon name="call" color="primary"></ion-icon>
  <h1>    Dudas     4491906204</h1>
</ion-chip>

<ion-chip (click)="mayoreo()">
  <ion-icon name="call" color="primary"></ion-icon>
  <h1>    Mayoreo    4499088240</h1>
</ion-chip>








</ion-content>
